*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(background_akg.jpg);
    background-size:contain;
    background-position: center;
}
.navbar
{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    width: 120px;
    cursor: pointer;
}
.heading{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    position: relative;
    text-align: left;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;;
}
.content{
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.about{
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(background_akg.jpg);
    background-size: cover;
    
}
.text{
    
    text-align: center;
    color: #fff;
    font-size: large;
    margin: 5%;

    

}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown:hover .dropbtn {
    background-color:transparent;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block
  }

  #branch {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin:5%;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
  }
  
  #branch td, #branch th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #branch tr:nth-child(even){background-color: #365d71d1;}
  
  #branch tr:hover {background-color: #49091d88;}
  
  #branch th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:black;
    color: white;}



   
    



  


  